agate==1.7.1
asn1crypto==1.5.1
attrs==23.1.0
Babel==2.13.1
beautifulsoup4==4.12.2
blinker==1.7.0
boto3==1.28.73
botocore==1.31.73
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
dbt==1.0.0.34.18
dbt-core==1.7.3
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.4.1
dbt-snowflake==1.7.0
distlib==0.3.7
filelock==3.12.4
Flask==3.0.0
idna==3.4
importlib-metadata==6.11.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
keyring==24.3.0
leather==0.3.4
Logbook==1.5.3
MarkupSafe==2.1.3
mashumaro==3.11
minimal-snowplow-tracker==0.0.2
more-itertools==10.1.0
MouseInfo==0.1.3
msgpack==1.0.7
networkx==3.2.1
numpy==1.26.1
oscrypto==1.3.0
packaging==23.2
pandas==2.0.3
parsedatetime==2.6
pathspec==0.11.2
Pillow==10.1.0
platformdirs==3.11.0
protobuf==4.25.1
pyarrow==10.0.1
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodomex==3.19.0
pydantic==1.10.13
PyGetWindow==0.0.9
PyJWT==2.8.0
PyMsgBox==1.0.9
pyOpenSSL==23.2.0
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.8.2
python-slugify==8.0.1
pytimeparse==1.1.8
pytweening==1.0.7
pytz==2023.3.post1
pywhatkit==5.4
pywin32-ctypes==0.2.2
PyYAML==6.0.1
referencing==0.31.1
requests==2.31.0
rpds-py==0.13.2
s3transfer==0.7.0
six==1.16.0
snowflake-connector-python==3.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
text-unidecode==1.3
tk==0.1.0
tomlkit==0.12.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.17
virtualenv==20.25.0
Werkzeug==3.0.1
wikipedia==1.4.0
zipp==3.17.0
